<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    <div>
        <h1>Logs</h1>
        <div class="logs">
            {% for log in logs %}
                <p>Log ID: {{ loop.index }}</p>
                <p>Comando: {{ log["comando"] }}</p>
                <p>Data e hora: {{ log["data_hora"] }}</p>
                <p>Coordenadas (x, y, z): {{ log["x"] }}, {{ log["y"] }}, {{ log["z"] }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
</body>
</html>
